<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Admin Page</title>
    </head>
    <body>
        <h1>관리자 페이지입니다.</h1>
        <h2>관리자가 아닌 사람이 이용할시 IP 차단 등 이용이 제한될 수 있습니다.</h2>
        <form method="post">
            <input id="a_id" name="a_id" type="text" placeholder="ID">
            <input id="a_pw" name="a_pw" type="password" placeholder="PW">
            <input id="a_submit" name="a_submit" type="submit">
        </form>
    </body>
</html>
