<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
    <%- include('header') %>
    <table>
        <tr>
            <th>제목</th>
            <th>만든날짜</th>
            <th>조회수</th>
        </tr>
        <tr>
            <td><%= value.b_title %></td>
            <td><%= value.b_created %></td>
            <td><%= value.b_hit %></td>
        </tr>
    </table>
  </body>
</html>
