<div class="footer">
    <span>Copyright &copy 2021 공학부 학생회 하랑 All right Reserved.</span>
    <br>
    <span><a href="https://open.kakao.com/o/sQLGDnAd" target="_blank">버그 제보 및 기타 문의 사항(오픈채팅)</a></span>
    <br>
    이메일 : <span id="copybtn" onclick="copyToClipboard('sgu.eng.studentcouncil@gmail.com');">sgu.eng.studentcouncil@gmail.com</span> (누르면 복사)
</div>
<script>
    function copyToClipboard(val) {
        var t = document.createElement("textarea");
        document.body.appendChild(t);
        t.value = val;
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
        alert('메일주소가 클립보드에 복사되었습니다.');
    }
</script>
