<!-- Nav container -->
<nav class="navbar__">
  <!-- Logo with text -->
  <div class="navbar__logo_">
    <ul class="navbar___logo">
      <li><a href="/"><img src="/img/logo.png" alt="logo" width="50px" class="logo"></a></li>
      <li><a href="/" class="sogang">서강대학교<br>공학부 신문고</a></li>
    </ul>
  </div>
  <!-- Menu -->
  <ul class="navbar__menu_">
    <li><a href="/notice">공지사항</a></li>
    <li><a href="/write">글쓰기</a></li>
    <li><a href="/board">자유게시판</a></li>
    <li><a href="/mypage">마이페이지</a></li>
  </ul>
  <!-- Icons -->
  <% if(check_login){ %>
      <ul class="navbar__icons">
        <li><a href="/logout">로그아웃</a></li>
      </ul>
  <% }else{ %>
      <ul class="navbar__icons">
        <li><a href="/login">로그인</a></li>
        <li><a href="/register">회원가입</a></li>
      </ul>
  <% } %>

  <!-- Toggle button -->
  <a href="#" class="navbar__toggleBtn">
    <i class="fas fa-bars"></i>
  </a>
</nav>
