<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <title>로그인</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
    <script type="text/javascript">
      function forget_pw(){
        alert("서강대학교 공학부 페이스북이나 인스타로 문의 바랍니다");
      }
    </script>
  </head>
  <body>
    <%- include('header') %>

    <div class="login_box" style="border:4px dotted; padding:10px;">
      <div id="login_">로그인</div>
      <form class="login" action="connect.php"  method="post">
        <input id="id_number" type="number" autocomplete="off" placeholder="학번"><br>
        <input id="pw" type="password" autocomplete="off" placeholder="비밀번호"><br>
        <input id="login_submit" type="submit" value="로그인" onclick="submit_login()">
      </form>
      <a href="#" class="forget_pw" onclick="forget_pw()">비밀번호를 잊으셨나요?</a>
    </div>
  </body>
</html>
