<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/notice.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
     <%- include('header') %>
     <div class="notice_box">
         <h2>공지사항</h2>
         <div class="notice_1 notice">
             <a href="/notice/notice1"><img src="/img/notice1.png" alt="공지"></a>
         </div>
         <div class="notice_2 notice">
             <a href="/notice/notice2"><img src="/img/notice2.png" alt="공지"></a>
         </div>
         <div class="notice_3 notice">
             <a href="/notice/notice3"><img src="/img/notice3.png" alt="공지"></a>
         </div>


     </div>
     <%- include('footer') %>
  </body>
</html>
