<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/footer_short.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
    <script type="text/javascript">
      var email_flag = 0;
      var email_confirm_number =0;
      function submit_register(){
          if (!form.name.value){
              alert("이름을 입력해주세요.");
              return false;
          }
          else if (form.id_number.value==""){
              alert("학번을 입력해주세요.");
              return false;
          }
          else if (form.id_number.value==""){
              alert("학번을 입력해주세요.");
              return false;
          }
          else if(form.major.value==""){
              alert("전공을 입력해주세요.");
              return false;
          }
          else if(form.pw.value==""){
              alert("비밀번호를 입력해주세요.");
              return false;
          }
          else if(form.pw_confirm.value==""){
              alert("비밀번호를 다시한번 입력해주세요.");
              return false;
          }
          else if(form.pw_confirm.value!=form.pw.value ){
              alert("두 비밀번호를 똑같이 입력해주세요.");
              return false;
          }
      }
      $("#email_code").click(function(){
          $.ajax({
              url: '/mailsend',
              async: true,
              type: 'POST',
              data: {
                  mail_addr : $("#email_addr").val()
              },
              dataType: 'json',
              success: function(data){
                  alert("메일 전송");
              },
              error: function(err){
                  alert("전송 실패" + err);
              }
          })
      });
      $("#email_confirm").click(function(){
          $.ajax({
              url: '/mailcheck',
              async: true,
              type: 'POST',
              data: {
                  mail_addr : $("#email_code").val(),
                  send_num : $("number").val()
              },
              dataType: 'json',
              success: function(data){
                  alert("메일 전송");
              },
              error: function(err){
                  alert("전송 실패" + err);
              }
          })
      });
    </script>
  </head>
  <body>
    <%- include('header') %>


    <div class="register_box" style="border:4px dotted; padding:10px;">
      <div id="register_">
        회원가입
      </div>
      <form action="/mailsend"  method="GET" target="iframe1">
          <input id="email_addr" type="text" name="email_addr" autocomplete="off" placeholder="서강 이메일 주소"><span id="sogang_email">@sogang.ac.kr</span>
          <input id="email_code_" type="submit" value="인증번호 전송" onclick="email_code()"><br>
      </form>
      <form action="/mailcheck"  method="GET" target="iframe1">
          <input id="email_code" type="text" name="email_code" autocomplete="off" placeholder="인증번호 입력">
          <input id="email_code_confirm" type="submit" value="인증번호 확인" onclick="email_confirm()"><br>
      </form>
      <iframe id="iframe1" name="iframe1" style="display:none"></iframe>
      <form name="form" class="register" action="/register"  method="POST" onsubmit="return submit_register()">
        <input id="name" name="name" type="text" autocomplete="off" placeholder="이름"><br>
        <input id="id_number" name="id_number" type="number" autocomplete="off" placeholder="학번"><br>
        <p>
          <ul class="major_check">
            <li>기계<input class="major" name="major" type="radio" value="major_1"></li>
            <li>화공<input class="major" name="major" type="radio" value="major_2"></li>
            <li>전자<input class="major" name="major" type="radio" value="major_3"></li>
            <li>컴공<input class="major" name="major" type="radio" value="major_4"></li>
          </ul>

        </p>
        <input id="pw" type="password" name="pw" autocomplete="off" placeholder="비밀번호"><br>
        <input id="pw_confirm" name="pw_confirm" type="password" autocomplete="off" placeholder="비밀번호 확인"><br>


        <input id="register_submit" type="submit" value="가입하기">
      </form>
    </div>

  </body>
</html>
