<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <link rel="stylesheet" href="./static/css/font.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="./static/js/mobile_menu.js" defer></script>
  </head>
  <body>
    <%- include('header') %>
    <form action="/create_process" method="post">
        <p><input type="text" name="title" placeholder="title"></p>
        <select name="text_type">
            <option value="0">선택안함</option>
            <option value="1">질문</option>
            <option value="2">건의</option>
            <option value="3">홍보/제휴</option>
        </select>
        <p>
            <textarea name="description" placeholder="description"></textarea>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
  </body>
</html>
