<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/write.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <!-- include libraries(jQuery, bootstrap) -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="/js/mobile_menu.js" defer></script>

    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
    <%- include('header') %>


    <div class="write_">
      <form method="post">
          <p><input type="text" name="title" id="title" placeholder="제목"></p>
          <select name="text_type" id="text_type">
              <option value="0">선택안함</option>
              <option value="1">질문</option>
              <option value="2">건의</option>
              <option value="3">홍보/제휴</option>
          </select>
          <p>
              <textarea name="description" id="summernote" placeholder="내용"  style="﻿overflow-y:scroll; overflow-x:hidden; resize: none;"></textarea>
              <script>
              $('#summernote').summernote({
                  height: 400,                 // set editor height
                  minHeight: null,             // set minimum height of editor
                  maxHeight: null,             // set maximum height of editor
                  focus: true                  // set focus to editable area after initializing summernote
              });
              </script>
          </p>
          <p>
              <input type="submit" id="submit">
          </p>
      </form>
    </div>

  </body>
</html>
