@font-face {
    font-family: 'JeongsogeonhaeL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/OTJeongsogeonhaeLA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
