:root {
  --text-color: #000000;
  --background-color: #F0F9FF;
  --accent-color: #CBE6FA;
}

.box_text{
    font-weight: bold;
}

.goto_{
  display:table;
  border-style:solid;
  border-color: #CBE6FA;
  border-radius:10px;
  align-items:center;
}
.goto__{
  padding: 15px 15px 15px 15px;
  text-align:center;

  font-size:25px;
  background-color: var(--accent-color);
}

.goto_ tr{
  display:flex;
  margin-top: 3px;
  margin-bottom:3px;
  border-width:0px;
}

.logoo{
  margin: 10px 10px 10px 10px;
}

.major_logo{
  width:500px;
  height:100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);


}

.content{
  position:relative;
  width:90%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5%;
}

.notice1{
  display:table;
  border-style:solid;
  border-color: #CBE6FA;
  border-radius:10px;
}

.notice1_{
  align-items:center;
  padding: 15px 15px 15px 15px;
  text-align:center;
  font-size:25px;
  background-color: var(--accent-color);
}

.notice1_content{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
   margin-top:20px; margin-bottom:20px;
}

.goto_contents{
  border-collapse: collapse;
  width:100%;
}
.goto_contents tr{
  padding: 10px;
  border:1px solid var(--accent-color);
  border-bottom-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}
.goto_contents td{
  padding: 10px;
  border:1px solid var(--accent-color);
  border-bottom-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}


.goto_contents_{
  margin-top:20px;
  display:table;
  border-style:solid;
  border-color: #CBE6FA;
  border-radius:10px;
}

.goto_contents__{
  padding: 15px 15px 15px 15px;
  text-align:center;
  font-size:25px;
  background-color: var(--accent-color);
}

.title{
  width:70%;
}
.date{
  width:30%;
  text-align:center;
}



.content td{
  padding: 20px 20px 20px 20px;
  border-collapse: collapse;
}



.owl_box{
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  opacity:0.1;
	position: absolute;
	top: 37%;
	height: 30px;
}

.owl-carousel .owl-prev {
	right: 96%;
}

.owl-carousel .owl-next {
	left: 96%;
}
.owl_box img{
    object-fit: contain;
}

.owl-dot{
  margin-top:10px;
  margin-left: 5px;
  margin-right:5px;
}

@media screen and (max-width: 1240px) {
  .notice1_{
    padding-left:0px;
    padding-right:0px;
  }
  .content td{
    padding: 10px 10px 10px 10px;
  }
  .notice1_content{
    margin-bottom:10px;
    margin-top:10px;
  }
  .content{
    width:100%;
  }
  .owl-carousel .owl-prev {
  	right: 94%;
    top:30%;
  }

  .owl-carousel .owl-next {
  	left: 94%;
    top:30%
  }
}



@media screen and (max-width: 943px) {
    .owl-nav {
        display:none;
    }
    .owl_box{
        margin-top: 50px;
        margin-right: 2%;
        margin-left: 2%;
    }
  .goto_{
    display:none;
  }
  .notice1{
    display:none;
  }
  .goto_contents_{
    margin-top:10px;
  }

  .owl-dot{
    margin-right:1px;
    margin-left:1px;
  }
}
