:root {
  --text-color: #000000;
  --background-color: #F0F9FF;
  --accent-color: #CBE6FA;
}



.goto_{
  margin-left:50px;
  margin-top:30px;
  display:table;
  border-style:solid;
  border-color: #CBE6FA;
  border-radius:10px;
}
.goto__{
  padding: 15px 15px 15px 15px;
  text-align:center;
  font-size:25px;
  background-color: var(--accent-color);
}

.goto_ tr{
  display:flex;
  margin-top: 3px;
  margin-bottom:3px;
}

.logoo{
  margin: 10px 10px 10px 10px;
}


.notice1{
  margin-left:50px;
  margin-top:30px;
  display:table;
  border-style:solid;
  border-color: #CBE6FA;
  border-radius:10px;
}
.notice1_{
  align-items:center;
  padding: 15px 15px 15px 15px;
  text-align:center;
  font-size:25px;
  background-color: var(--accent-color);
}

.notice1__{
  margin-right: 30px;
  margin-left:30px;
  margin-top:10px;
  margin-bottom:10px;
}

@media screen and (max-width: 943px) {

  .ad{
    display:none;
  }

  .owl_box{
    display:none;
  }

  .goto_{
    display:none;
  }
  .notice1{
    display:none;
  }
}
