:root {
  --text-color: #000000;
  --background-color: #F0F9FF;
  --accent-color: #CBE6FA;
}

* {

  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#register_{
  font-size:30px;
  margin:10px;
  text-align:center;
}

.register{
  text-align:center;
}

#name{
  width:400px;
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
}

#id_number{
  width:400px;
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
}

#pw{
  width:400px;
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
}

#pw_confirm{
  width:400px;
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
}

.major_check{
  list-style:none;
  display:flex;
  justify-content:center;
  align-items: center;
  padding-left:0px;
}

.major_check li{
  padding: 0px 25px;
}

#email_addr{
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
}

#email_code_{
  height:50px;
  padding:10px 10px;
  background-color:  var(--accent-color);
  border-radius:4px;
  border:0;
  outline: 0;
}


#email_code_:hover{
  font-weight:bold;
  box-shadow: 2px 2px 0 0 silver;
}


#email_code{
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
  width:286px;
}

#email_code_confirm{
  height:50px;
  padding:10px 10px;
  background-color: var(--accent-color) ;
  border-radius:4px;
  border:0;
  outline: 0;
}

#email_code_confirm:hover{
  font-weight:bold;
  box-shadow: 2px 2px 0 0 silver;
}


#register_submit{
  width:400px;
  height:50px;
  padding:10px 10px;
  margin: 5px 5px;
  background-color: var(--accent-color) ;
  border-radius:4px;
  border:0;
  outline: 0;
  margin-bottom:10px;
}


#register_submit:hover{
  font-weight:bold;
  box-shadow: 2px 2px 0 0 silver;
}

.register_box{
  text-align:center;
  width: 450px;
  border-radius:20px;
  position:relative;
  top:100px;
  left:50%;
  margin: 0 0 0 -225px;
  margin-bottom:80px;
}



/* For small screen */
@media screen and (max-width: 943px) {
  /* Nav container */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    height:auto;
    margin-top:0px;
  }

  /* Menu */
  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__menu a {
    /* Fill in an entire line so that user can click on any space */
    display: block;
    padding: 10px 0;
  }
  .navbar__logo{
    height:50px;
  }
  .navbar___logo li{
    margin-top:0;
  }
  /* Icons */
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__icons li{
    font-size:12px;
  }
  /* Toggle button */
  .navbar__toggleBtn {
    display: block;
  }

  /* When toggle button is clicked - active state */
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }

  .ad{
    display:none;
  }

  .sogang{
    display:none;
  }
  #register_{
    font-size:25px;
    margin:10px;
  }
  #name{
    width:250px;
    height:40px;
    padding:5px 5px;
  }

  #id_number{
    width:250px;
    height:40px;
    padding:5px 5px;
  }

  #pw{
    width:250px;
    height:40px;
    padding:5px 5px;
  }

  #pw_confirm{
    width:250px;
    height:40px;
    padding:5px 5px;
  }

  .major_check li{
    padding: 0px 5px;
  }

  #email_addr{
    font-size:10px;
    height:40px;
    padding:2px 2px;
    width:85px;
  }

  #sogang_email{
    font-size:12px;
  }

  #email_code_{
    font-size:12px;
    height:40px;
    padding:2px 2px;
  }

  #email_code{
    height:40px;
    padding:5px 5px;
    margin: 2px 2px;
    width:155px;
  }

  #email_code_confirm{
    height:40px;
    padding:2px 2px;
  }

  #register_submit{
    width:250px;
    height:40px;
    padding:5px 5px;
    margin: 5px 5px;
    margin-top: 10px;
    margin-bottom:10px;
  }

  .register_box{
    width: 330px;
    margin: 0 0 0 -165px;
    margin-top:20px;
    margin-bottom:80px;
    top:20px;
  }


}
