<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/notice.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
     <%- include('../header') %>
     <div class="notice_box">
       <div class="notice_main_content">
         <h2>[가을학기 공학부 사업 계획]</h2>
         <br>
         <br>
          <pre style="white-space: pre-wrap;overflow: auto;font-size: 17px;font-family:'Malgun Gothic';">
젊은 패기로 신속 정확한 공지를 전달한다! 안녕하세요 공학부 학생회 하!랑!입니다~


학우 여러분들 중간고사 준비는 잘 하고 계신가요? 어느덧 시험이 2주밖에 남지 않았는데요ㅠㅠ
공학부에서 계획 중인 사업에 대해서 브리핑 하고자합니다.

첫 번째로, 굿즈 사업인데요. 여러분들 얼마전에 공학부 캐릭터 공모전에서 1등으로 선정된 캐릭터 '이공학'을 기억하시나요?
'이공학'을 모델로 하는 공학부 <span style="font-weight:bold;">굿즈 공동구매</span>를 계획하고 있습니다. 학우분들께서 필요로 할 만한 것들을 굿즈로 만들어보고자합니다.
저희가 검토 중인 상품은 '2022 다이어리', '수건', '위클리 플래너', '메모패드(레포트패드)', '떡메모지', '스티커', '그립톡', '마스크 스트랩', '담요' 등 다양한 상품을 검토중에 있습니다.
추가로 학우분께서 좋은 아이디어를 게시판에 올려주시면 저희가 적극 검토해보겠습니다~~

두 번째로, <span style="font-weight:bold;">시험기간 간식 사업</span>인데요. 중간고사와 기말고사 기간에 두차례 예정중에 있습니다.
중간고사 기간에는 비대면 간식 사업으로 진행될 예정이고, 기말고사때 대면으로 시험이 진행된다면, 비대면과 대면을 혼용한 방식으로 진행될 예정입니다.
현재 계획은 미리 날짜와 시간을 공지하고, 선착순으로 진행될 예정입니다.


추가로 더 진행되었으면 좋겠다하는 행사/사업이 있다면 편하게 자유게시판에 글 남겨주세요~ &#128512;

  2021.10.04.
          </pre>
       </div>
     </div>
     <%- include('../footer') %>
  </body>
</html>
