<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/notice.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
     <%- include('../header') %>
     <div class="notice_box">
         <h2>[필독] 사이트 이용 안내 및 드리는말</h2>
         <br>
         <div class="notice_main_content">
             <h4>&#65039;안녕하세요 공학부 학생회 &#9729;하랑&#9729;입니다 :)</h4>
             <p>먼저 학생회에 관심을 가져주시고, 사이트에 방문해주신점 진심으로 감사의 말씀드립니다.</p>
             <p>&nbsp;기존 학우분들께서는 인스타DM, 구글폼을 통한 설문조사, 이메일 등 여러 경로로 학교 관련 질문사항이나 건의사항, 홍보 등 요청과 문의 등을 해주셨습니다. 하지만 정작 중요한 불편사항이나 건의사항의 다수를 서담을 통해서 확인하고 대처하는 일이 생겼고 보다 <span style="font-weight:bold;">학우분들의 편리한 접근과 원활한 소통</span>을 위해 사이트를 제작하게 되었습니다.</p>
             <p>&nbsp;찬찬히 사이트를 운영해가며 학우분들과 소통하고, 사이트 이용에 있어서 불편한 점이나 버그 사항 등을 보완한 뒤 후대 학생회에 전달해서, 향후에도 학생회와 학우분들의 간격을 좁히는걸 궁극적인 목표로 두고 있습니다.</p>
             <p>&nbsp;아무쪼록 부족한 부분이 있을 수 있는 사이트지만 학생회와의 소통이 필요할 때라면 언제든지 이용부탁드리고, 위 규칙을 지키는 선에서 익명으로 <span style="font-weight:bold;">자유로운 소통과 과감한 피드백</span> 해주시면 감사하겠습니다!!</p>
             <br>

             <hr>
             <br>
             <h3><사이트 이용 안내></h3>
             <h4>1. 회원가입 관련 안내</h4>
             <p>본 사이트에서는 공지사항과 게시판을 보시는 것 외에, 글 작성, 댓글 작성 등 주요 기능들에서 서강 메일을 이용한 회원가입을 요구합니다.</p>
             <p>이는 중복가입을 방지하고 서강대 구성원임을 확인하기 위함이며, 추후 사이트 내에서 법적 문제가 생겼을 때 대응하기 위한 최소한의 확인 장치입니다. 본인의 비밀번호는 bcrypt로 암호화되어 사이트 운영자 또한 확인하거나 복호화할 수 없습니다. 본인의 개인정보와 본인이 쓴 글, 댓글은 분리되어 저장되며 법적문제 등 특수한 상황 이외엔 익명성이 항상 보장됩니다.</p>
             <h4>2. 게시판 이용 관련 안내</h4>
             <p>저희는 서담,에타 등 익명 사이트에서 욕설이나 실명거론 등 부적절한 글들이 냉동전까지 공개되서 생기는 문제를 완전히 배제하려고 합니다. 이에 게시물은 학생회 측 관리자가 승인해야만 공개로 전환되게 설정하였습니다. 글들을 검열하려는 목적이 아니라 욕설, 실명을 거론하는 저격 등 일부 부적절한 글만을 걸러내기 위함이며 이외 모든 글은 확인 즉시 공개 예정이니 양해부탁드립니다.</p>
             <p>기타 댓글 등에서 분쟁을 조장하거나 같은 내용을 반복하면서 서버에 무리를 주는 행위, 버그 악용 행위가 포착 되었을 때는 일정기간 ip정지 등 조치 후 주기적으로 사례를 공개하도록 하겠습니다. 해당 조치의 이의가 있으신 분들은 사이트 아래에 오픈채팅을 이용해주시면 감사하겠습니다</p>
             <h4>3. 기타 사항</h4>
             <p>이외에 기타 사항이나, 사이트 이용에 있어서 불편사항, 버그제보 등은 사이트 <span style="font-weight:bold;">아래의 메일이나 오픈채팅</span>을 이용해주시면됩니다. 해당 사안이 사이트 운영에 중대한 사항이 될 수 있으니 많은 제보 부탁드립니다! 감사합니다.</p>
             <br>
         </div>
     </div>
     <%- include('../footer') %>
  </body>
</html>
