<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/notice.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
     <%- include('../header') %>
     <div class="notice_box">
         <h2>[공지사항] &#127810;공학부 가을축제&#127810;</h2>
         <br>
         <p>안녕하세요 공학부 학우 여러분 학생회 하랑입니다~~&#128516;&#128516;</p>
         <p>개강한지 3주정도가 지났는데 어떠신가요? 수업이 지루하기 시작하고, 과제가 너무 많다고요? 그런 여러분들을 위한 소소한 재미를 준비해봤습니다. 바로바로 학교 공식 축제 일정에 맞춰 공학부도 온라인 가을축제를 준비했습니다. 오프라인때만큼의 큰 축제는 아니지만 공학부 학우분들이 잠시 컨텐츠들을 즐기면서 즐기시고 가셨으면 좋겠습니다^^</p>
        <p>축제는 <span style="font-weight:bold;">9월30일, 10월1일날 진행됩니다.</span> 크게 게더타운을 이용한 2개의 컨텐츠를 준비했는데요&#128512;! </p>
        <span style="font-weight:bold;">'내가 바로 공학부의 상식왕!! 퀴즈쇼'와 '누가누가 쓸대없는 주제로 토론을 잘하는가~~토론배틀'</span>입니다. 자세한 사항은 추후 공지로 추가하도록 하겠습니다. 많은 관심과 참여부탁드립니다. </p>
        <p>기계, 전자, 화공, 컴공 4개 학과 학생회분들, 공학부 집행위분들, 축제준비에 도움주신 모든분들께 감사의 말씀 다시한번 드립니다.</p>
        <hr>
        <p>또한, 본 행사와 관련되어 진행된 단대제 여론 조사(7월 19일 4개학과 공지톡을 통해 진행) 내용입니다</p>
        <p>단대제 개최에 대해 설문조사를 진행했었고, 35% 정도의 찬성과 65% 정도의 반대 여론이 있었습니다.</p>
        <p>찬성의 주된 이유로는 친목과 동기들간의 교류, 비대면 시국속에 조금이나마 학우들과의 결속력 증진과 같은 이유가 있었고, 반대의 주된 이유로는 참여율이 저조하다는 의견과 돈을 아껴서 다음 축제에 활용하자는 의견이 우세했습니다.</p>
        <p>이에 대해 공 학운위에서 의견교환이 있었고, 단대제를 진행하되 소소하게하여 일반적인 학과행사 수준으로 규모를 줄여 지출을 절약하자는 방향으로 의견을 모았습니다.</p>
        <hr>
     </div>
     <%- include('../footer') %>
  </body>
</html>
